.App {
  position: absolute;
  top: 0; /* basically this is 0 + vertical-height of the header; adjust to taste */
  left: 0; /* assuming you want the div to stretch across the viewport */
  right: 0;
  bottom: 0; /* 0 + vertical-height of footer */
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faf9f9;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: 0;
  padding: 0;
}
